.modalIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 50px 0;
}

.modalContent {
  box-sizing: border-box;
  padding: 0 5%;
}

.modalMainText {
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}

.modalSecondaryText {
  font-size: 17px;
  text-align: center;
  line-height: 200%;
}

.modalMarkedText {
  margin: 0 4px;
  background-color: unset;
  font-weight: bold;
}

.modalRedirectLabel {
  display: block;
  width: 100%;
  margin: 20px 0 10px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.modalRedirectLink {
  margin-left: 5px;
  color: #575f98;
  cursor: pointer;
}

.modalRedirectProgressBar {
  width: 90%;
  height: 5px;
  margin: 20px auto;
  box-sizing: border-box;
  background-color: #575f98;
  border-radius: 3px;
  animation: countDown 6s linear forwards 1;
}

.modalCloseButton {
  display: block;
  width: 50%;
  margin: 30px auto 10px auto;
  padding: 15px 0;
  border-radius: 18px;
  outline: none;
  border: none;
  background-color: #e54949;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.modalCloseButton:hover {
  background-color: #d29696;
}

@keyframes countDown {
  0% {
    width: 90%;
  }

  99.99% {
    height: 5px;
  }

  100% {
    width: 0%;
    height: 0;
  }
}
