.restaurant-image {
    border-radius: 18px;
    width: 400px;
    height: 250px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.main-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.reservation-container {
    width: 40vw;
    min-width: 675px;
    margin: 40px 20px 40px 40px;
}

.image-and-restaurant-info {
    display: flex;
    padding: 10px 0;
}

.confirm-reservation-button {
    /* Font */
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 80px;
    outline: none;
    background-color: #FF6F00;
    border: none;
    border-radius: 20px;
    margin: 50px 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1250px) {
    .main-container {
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px;
    }
    .reservation-container {
        width: 55vw;
        margin: 40px;
    }
}

@media screen and (max-width: 900px) {
    .reservation-container {
        width: 65vw;
        min-width: 600px;
        margin: 20px;
    }
    .restaurant-image {
        width: 300px;
        height: 200px;
    }
    .confirm-reservation-button {
        height: 70px;
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        margin: 20px 40px;
    }
    .reservation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        min-width: unset;
        margin-top: 0;
    }
    .image-and-restaurant-info {
        width: 100%;
        padding: 0;
    }
    .restaurant-image {
        width: 90%;
        min-width: 300px;
        height: unset;
        max-height: 300px;
    }
    .image-and-restaurant-info {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .main-container {
        margin: 20px;
    }
    .reservation-container {
        width: 100vw;
        margin: 20px 0;
    }
    .confirm-reservation-button {
        width: 90%;
        height: 65px;
        font-size: 20px;
    }
}

@media screen and (max-width: 320px) {
    .restaurant-image {
        width: 100%;
        min-width: 275px;
    }
    .confirm-reservation-button {
        width: 100%;
        height: 60px;
        font-size: 18px;
    }
}

.confirm-reservation-button:hover {
    background-color: #d29696;
}