.restaurant-image {
    border-radius: 18px;
    width: 400px;
    height: 250px;
}

.main-container {
    flex-wrap: nowrap;
    display: flex;
}

.restaurant-name {
    font-weight: bold;
    font-size: 40px;
    color: #f23a3a;
    margin-bottom: 10px;
}

.restaurant-name-and-info {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

.image-and-restaurant-info {
    display: flex;
    padding: 10px 0;
}

.confirm-reservation-button {
    /* Font */
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
    width: 690px;
    height: 80px;
    outline: none;
    background-color: #e54949;
    border: none;
    border-radius: 20px;
    margin: 50px 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1250px) {
    .main-container {
        flex-wrap: wrap;
    }
    .confirm-reservation-button {
        width: 70vw;
        font-size: 5vw;
    }
}

@media screen and (max-width: 900px) {
    .restaurant-image {
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .image-and-restaurant-info {
        flex-wrap: wrap;
    }
    .restaurant-name-and-info {
        padding: 20px 0;
    }
}

.confirm-reservation-button:hover {
    background-color: #d29696;
}