.RestaurantDescriptionError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

.ErrorImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 460px;
    max-height: 400px;
    margin: 40px 0;
}

.ErrorImage {
    width: 100%;
    height: 100%;
}

.ErrorMessage {
    margin: 0 0 40px 0;
    padding: 0 20px;
    text-align: center;
    font-size: 18px;
}

.ErrorMessage_Link {
    color: #575F98;
    font-weight: bold;
}

@media screen and (max-width: 320px) {
    .ErrorMessage {
        font-size: 16px;
    }
}