a {
  color: black;
  text-decoration: none;
  border-radius: 8px;
}

img {
  width: 24px;
  height: 24px;
}

.calendarContainer {
  width: 100%;
  cursor: pointer;
  &__button {
    --button-size: 30px;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
}

.menu-item {
  width: 100%;
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
  transition: background 100ms;
  padding: 5px 0;
  font-weight: 700;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  &.location {
    width: 100%;
  }
  &.calendar {
    &:hover {
      background-color: lightgray;
    }
  }
}

.leading-icon {
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
}

@media screen and (max-width: 320px) {
  .menu-item {
    height: 35px;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}
