.restaurantDetails {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  &__name {
    font-weight: bold;
    font-size: 40px;
    color: #f23a3a;
    margin-bottom: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
}

@media screen and (max-width: 900px) {
  .restaurantDetails {
    &__name {
      font-size: 32px;
    }
  }
}

@media screen and (max-width: 768px) {
  .restaurantDetails {
    padding: 20px 0;
    &__name {
      text-align: center;
    }
    &__info {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 500px) {
  .restaurantDetails {
    &__name {
      font-size: 28px;
    }
    &__info {
      &__icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}
