.restaurant-name-and-info {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.restaurant-name {
  font-weight: bold;
  font-size: 40px;
  color: #f23a3a;
  margin-bottom: 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

@media screen and (max-width: 900px) {
  .restaurant-name {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-name-and-info {
    padding: 20px 0;
  }

  .restaurant-name {
    text-align: center;
  }

  .restaurant-info {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 500px) {
  .restaurant-name {
    font-size: 28px;
  }

  .restaurant-info-icon {
    width: 24px;
    height: 24px;
  }
}
