.flex-box {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    margin-left: -20px;
}

.heading {
    text-align: center;
    font-weight: 700;
    color: black;
    font-size: 8vh;
    margin-top: 8vh;
}

.subHeading {
    text-align: center;
    font-size: 3vh;
    margin-top: 2vh;
}