.flex-box {
    display: grid;
    height: 40vh;
    margin-left: 50px;
    grid-template-columns: repeat(2, 1fr);
    width: 25vw;
    align-items: center;
    height: 20vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.heading {
    text-align: left;
    color: #575f98;
    font-size: 8vh;
    margin-top: 7vh;
    margin-left: 70px;
}

.subHeading {
    text-align: left;
    font-size: 3vh;
    margin-top: 5vh;
    margin-left: 70px;
    margin-bottom: 5vh;
    opacity: 0.67;
}