.restaurantContainerhr {
    width: 47vw;
    min-width: 300px;
    margin: 20px 0 20px 10px;
}

.restaurantContainer {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    left: 100px;
    width: 50vw;
    background: white;
    min-width: 350px;
    color: black;
    border-radius: 10px;
    padding: 10px 0 0 10px;
}

.restaurantName {
    margin-left: 10px;
    font-size: 50px;
    color: #e54949;
    font-weight: bold;
}

.shortDescription {
    font-size: 18px;
    height: auto;
    word-spacing: 5px;
    margin: 0 15px;
    font-weight: bold;
    width: 47vw;
    min-width: 280px;
}

.restaurantMenuLink {
    padding: 0 10px 10px 0;
    font-size: 25px;
    color: #e54949;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 5px;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-left: 10px;
}

.tag {
    border-radius: 15px;
    border: 1px solid;
    margin: 0 10px 0 0;
    padding: 8px;
}

hr {
    opacity: 0.5;
}

@media screen and (max-width: 750px) {
    .shortDescription {
        margin-top: 500px;
    }
}