.additional-info-container {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    left: 100px;
    width: 50vw;
    background: white;
    min-width: 350px;
    color: black;
    border-radius: 10px;
    padding: 30px 30px;
    margin: 40px;
}