li {
  display: inline;
}

.liBlock {
  display: inline-block;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-inline-start: 0;
}

/* Setting style to ul all child elements
Cannot use gap on flexbox here, because at the time safari doesn't support it
*/
ul > * {
  margin: 0 15px;
}

nav {
  justify-content: center;
  background: #575f98;
  border-radius: 0 0 20px 20px;
  width: 100%;
  height: 150px;
}

.inputContainer--navbar {
  width: 260px;
  min-width: 180px;
}

.inputContainer--navbar:nth-child(2),
.inputContainer--navbar:nth-child(3) {
  width: 150px;
  min-width: 120px;
}

.menuIconContainer {
  display: block;
}

.menuIcon {
  width: 35px;
  height: 35px;
  fill: white;
  float: right;
  display: none;
  line-height: 50px;
}

.searchButtonContainer--navbar {
  width: 250px;
}

.searchButton--navbar {
  width: 100%;
  height: 80px;
}

/* Selector for the menu icon */
#check {
  display: none;
}

@media screen and (max-width: 1024px) {
  ul > * {
    margin: 0 10px;
  }

  .searchButtonContainer--navbar {
    width: 220px;
  }
}

@media screen and (max-width: 900px) {
  .menuIcon {
    display: flex;
    cursor: pointer;
  }

  ul {
    flex-direction: column;
    height: fit-content;
    box-sizing: border-box;
    padding-top: 30px;
    gap: 20px;
    display: none;
    align-items: center;
    text-align: center;
  }

  .inputContainer--navbar {
    width: 40%;
    min-width: 300px;
  }

  .inputContainer--navbar:nth-child(2),
  .inputContainer--navbar:nth-child(3) {
    width: 40%;
    min-width: 300px;
  }

  .searchButtonContainer--navbar {
    width: 40%;
    min-width: 300px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .searchButton--navbar {
    height: 70px;
  }

  input,
  option {
    font-size: 15px;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100px;
    border-radius: 0;
  }
  /* Showing or not showing menu based on checked selector */

  #check:checked ~ nav {
    transition: all 0.3s;
    height: 490px;
    justify-content: flex-start;
  }
  #check:checked ~ nav ul {
    display: flex;
  }

  #check:checked ~ nav .menuIconContainer {
    transform: rotate(180deg);
  }
}
