.mainContainer {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 25vh;
    left: 50px;
    gap: 5px;
    margin: 0;
}

.imgContainer {
    left: 0;
    right: 0;
    margin: 3em 10px;
    height: 50vh;
    overflow: hidden;
    border-radius: 1vw;
}

@media screen and (max-width: 750px) {
    .mainContainer {
        justify-content: center;
        margin: auto 0.1em;
        left: 50%;
        transform: translateX(-50%);
    }
    .imgContainer {
        margin: auto 1em;
    }
    .placeOrderContainer {
        position: absolute;
        top: 170px;
    }
}