a {
    color: black;
    text-decoration: none;
}

.menu-item {
    width: 250px;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    transition: background 100ms;
    padding: 5px;
    margin: 0 0 0 20px;
    font-weight: 700;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.menu-item.location {
    width: 250px;
}

.menu-item.calendar:hover {
    background-color: lightgray;
}

.leading-icon {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
}

.icon-button {
    --button-size: 30px;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}